node_modules/
**/node_modules/
.pnpm-store/
**/.pnpm-store/
backend-api/.pnpm-store/
worker-service/.pnpm-store/
frontend/.pnpm-store/

.next/
out/
frontend/.next/

dist/
**/dist/
*.tsbuildinfo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env*

.DS_Store
Thumbs.db

# Docker
.docker/