node_modules/
dist/
.env
.next/

node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

frontend/dist/
frontend/build/
backend/dist/
worker/dist/
tsc-out/

worker/tmp/
*.mp4
**/fileSequence*.ts
*.m3u8

postgres-data/
minio-data/
rabbitmq-data/

.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?